@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar{
    padding: .8rem;
}

.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h2{
    font-size: 350%;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 1px 10px #000;
}
.btn-primary {
    background-color: #6648b1;
    border: 1px solid #563d7c;
}
.btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
}
.footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


figure{
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*------Boostrap Padding FIX ----*/
[class*="col-"]{
    padding: 1rem;
}